:root {
    --second-color:rgb(110, 213, 234);
}
.logo {
    width: 50%;
    display: block;
}
section {
    width: 70%;
    margin: 0 auto;
}
section .text {
    margin: auto;
    padding: 0 0 0 180px;
}
section .text h1 {
    font-size: 90px !important;
}
.navbar {
    width: 80%;
    margin: 20px auto 40px auto !important;
}
.github {
    text-align: center;
}
.project-item {
    margin: 40px auto 20px auto;
    /* display: flex; */
}
.project-item {
    font-size: larger;
    margin: 3em auto auto auto  ;
}
.project-item h2 {
    font-size: 40px;
    padding-bottom: 40px;
}
.project-item div {
    margin-top: 40px;
    /* width: 50%; */
}
.project-item button {
    margin-top:40px ;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:var(--second-color) ;
    color: white;
    transition: 10ms ease-in-out;
}
.project-item button:hover {
    border: 1px solid var(--second-color);
    color: black;
    background-color: transparent;
}
@media screen and (max-width:1000px){
    section .text {
        padding: 0;
        text-align: center;
    }
    section .text h1 {
        font-size: 70px !important;
    }
    section .logo {
        display: block;
        width: 60%;
        margin: auto;
    }
}